<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业上传系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyles.css') }}">
    <script defer src="https://track.wangzhr.top/script.js" data-website-id="022ab9c4-f799-4b51-8fe2-07e507a2406c"></script>
    
</head>
<body>
    <div>
        <h1>选择要上传的作业科目</h1>
        <button class = "custom-button"  onclick="window.location.href='/policyweb'">上传形式与政策作业</button>
        <button class = "custom-button" onclick="window.location.href='/dataweb'">上传数据备份作业</button>
    </div>
    
</body>
</html>